body{
    background-color: rgb(106, 0, 255);
    
}
div{
    background-color: white;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: #a8c4ff;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 0px black;
}
.ha{
    color: white;
    text-align: center;
}
input{
    margin: 10px;
    max-width: 120px;
}
button {
    padding: 3px 5px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
   }
   
   button:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
   }
   
   button:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }