body{
    background-color: rgb(43, 115, 224);
}
div{
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 2px black;
}
.se{
    color: aliceblue;
    text-align: center;
    font-size: large;
}
button{
    background-color: rgb(236, 48, 198);
    border-radius: 20px
}