body{
    background-color: rgb(255, 0, 136);
    
}
.pri{
    background-color: white;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
    font-size: 20px;
    box-shadow: 2px 2px 0px black;
}
.ha{
    color: white;
    text-align: center;
}
input{
align-items: center;
    max-width: 150px;
}
button {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
   }
   
   button:hover {
    background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
    animation: slidernbw 5s linear infinite;
    color: #000;
   }
   
   @keyframes slidernbw {
    to {
     background-position: 20vw;
    }
   }
   h3{
    text-align: center;
    color: white;
   }
   .fil{
    max-height: 300px;
    max-width: 200px;
   }

